section.header {
    background-color: #172b4d00;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: all 0.5s;
    nav.navbar {
        h2.navbar-brand {
            font-family: 'agustina';
            // color: $color-white;
            font-size: $size-40;
        }
        div.navbar-collapse {
            ul.navbar-nav {
            }
        }
    }
}
section.header--color {
    background-color: $color-primary !important;
}
