@import '../../global/title';

section.proficiency {
    margin-top: 50px;
    padding: 50px 0;
    background-image: linear-gradient(90deg, #03d3e1 0%, #1179ef 82%);
    
    .proficiency--progress {
        color: $color-white;
        .progress-label {
            h6 {
                font-weight: $weight-600;
            }
        }
    }
}
